openapi: 3.0.3
info:
  description: "Delft-FEWS Web Services REST API v1. For more information see: https://publicwiki.deltares.nl/x/fwNdBw"
  title: Delft-FEWS Web Services REST API v1
  version: v1-2023-05-03T00:04:18Z
servers:
- description: API server
  url: https://fewsdocs.deltares.nl/FewsWebServices/rest/fewspiservice/v1
security:
- Bearer: []
paths:
  /filters:
    get:
      description: Get filters that are a subfilter of the default filter. An existing
        subfilter of the default filter id can be specified as well.
      operationId: filters
      parameters:
      - description: An existing subfilter of the default filter id
        explode: true
        in: query
        name: filterId
        required: false
        schema:
          type: string
        style: form
      - description: "Supported Document Format: PI_XML, PI_JSON, "
        explode: true
        in: query
        name: documentFormat
        required: false
        schema:
          enum:
          - PI_XML
          - PI_JSON
          type: string
        style: form
      - description: "Document Version. Latest version is: 1.33"
        explode: true
        in: query
        name: documentVersion
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pi_rest_filters'
            application/xml:
              schema:
                description: https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_filters.xsd
                example: |-
                  <?xml version="1.0" encoding="UTF-8"?>
                  <filters xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.wldelft.nl/fews/PI" xsi:schemaLocation="http://www.wldelft.nl/fews/PI https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_filter.xsd" version="1.23">
                      <filter id="Countries">
                          <name>Countries</name>
                          <description></description>
                          <child id="All">
                              <name>All</name>
                              <description></description>
                          </child>
                          <child id="Netherlands">
                              <name>Netherlands</name>
                              <description></description>
                          </child>
                      </filter>
                  </filters>
                title: PI_XML
                type: object
                xml:
                  name: filters
          description: ""
        "400":
          content:
            plain/text:
              schema:
                description: Bad request for query parameters can occur when an unexpected
                  parameter is used
                example: Invalid request. An unexpected parameter was used in the
                  request.
                title: Invalid request
                type: string
          description: ""
        "401":
          content:
            plain/text:
              schema:
                description: JWT Id token is missing or invalid
                example: No JWT token provided.
                title: Authorization error
                type: string
          description: ""
        "403":
          content:
            plain/text:
              schema:
                description: Forbidden to access the requested resource
                example: Forbidden to access the requested method.
                title: Forbidden error
                type: string
          description: ""
        "500":
          content:
            plain/text:
              schema:
                description: An internal server error is reported when an application
                  error occurs in the Delft-FEWS Web Services.
                example: Internal server error.
                title: Internal server error
                type: string
          description: ""
      summary: Get filters that are a subfilter of the default filter
      tags:
      - filters
  /locations:
    get:
      description: Get locations that are available for the 'filterId' argument. Locations
        are also returned if no time series are available for a location in the filter.
        If not filterId is passed then all locations configured in the pre-defined
        filter will be returned.
      operationId: locations
      parameters:
      - description: An existing subfilter of the default filter id
        explode: true
        in: query
        name: filterId
        required: false
        schema:
          type: string
        style: form
      - description: One or more parameters which will be used to filter the time
          series sets in the filter
        explode: true
        in: query
        name: parameterIds
        required: false
        schema:
          type: string
        style: form
      - description: The parameter group id which will be used to filter the time
          series sets in the filter
        explode: true
        in: query
        name: parameterGroupId
        required: false
        schema:
          type: string
        style: form
      - description: Show location attributes
        explode: true
        in: query
        name: showAttributes
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Include location relations
        explode: true
        in: query
        name: includeLocationRelations
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Include time depency
        explode: true
        in: query
        name: includeTimeDependency
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: "Supported Document Format: PI_XML, PI_JSON, GEO_JSON, "
        explode: true
        in: query
        name: documentFormat
        required: false
        schema:
          enum:
          - PI_XML
          - PI_JSON
          - GEO_JSON
          type: string
        style: form
      - description: "Document Version. Latest version is: 1.33"
        explode: true
        in: query
        name: documentVersion
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pi_rest_locations'
            application/geojson:
              schema:
                $ref: '#/components/schemas/pi_rest_locations.geo'
            application/xml:
              schema:
                description: https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_locations.xsd
                example: |-
                  <?xml version="1.0" encoding="UTF-8"?>
                  <Locations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.wldelft.nl/fews/PI" xsi:schemaLocation="http://www.wldelft.nl/fews/PI https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_locations.xsd" version="1.27">
                      <geoDatum>Ordnance Survey Great Britain 1936</geoDatum>
                      <location locationId="000008">
                          <shortName>Harley Logger</shortName>
                          <lat>53.48101390524398</lat>
                          <lon>-1.440921590684395</lon>
                          <x>437200.0</x>
                          <y>398400.0</y>
                      </location>
                  </Locations>
                title: PI_XML
                type: object
                xml:
                  name: Locations
          description: ""
        "400":
          content:
            plain/text:
              schema:
                description: Bad request for query parameters can occur when an unexpected
                  parameter is used
                example: Invalid request. An unexpected parameter was used in the
                  request.
                title: Invalid request
                type: string
          description: ""
        "401":
          content:
            plain/text:
              schema:
                description: JWT Id token is missing or invalid
                example: No JWT token provided.
                title: Authorization error
                type: string
          description: ""
        "403":
          content:
            plain/text:
              schema:
                description: Forbidden to access the requested resource
                example: Forbidden to access the requested method.
                title: Forbidden error
                type: string
          description: ""
        "500":
          content:
            plain/text:
              schema:
                description: An internal server error is reported when an application
                  error occurs in the Delft-FEWS Web Services.
                example: Internal server error.
                title: Internal server error
                type: string
          description: ""
      summary: Get locations that are available for the 'filterId' argument
      tags:
      - locations
  /parameters:
    get:
      description: Get parameters that are available for the 'filterId' argument.
        Parameters are also returned if no time series are available for a parameter
        in the filter. If no filterId is passed then all parameters configured in
        the pre-defined filter will be returned.
      operationId: parameters
      parameters:
      - description: An existing subfilter of the default filter id
        explode: true
        in: query
        name: filterId
        required: false
        schema:
          type: string
        style: form
      - description: Show parameter attributes
        explode: true
        in: query
        name: showAttributes
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: "Supported Document Format: PI_XML, PI_JSON, "
        explode: true
        in: query
        name: documentFormat
        required: false
        schema:
          enum:
          - PI_XML
          - PI_JSON
          type: string
        style: form
      - description: "Document Version. Latest version is: 1.33"
        explode: true
        in: query
        name: documentVersion
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pi_rest_parameters'
            application/xml:
              schema:
                description: https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_parameter.xsd
                example: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<timeseriesparameters\
                  \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"\
                  http://www.wldelft.nl/fews/PI\" xsi:schemaLocation=\"http://www.wldelft.nl/fews/PI\
                  \ https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_timeseriesparameters.xsd\"\
                  \ version=\"1.27\">\n    <parameter id=\"P.obs\" parameterGroup=\"\
                  Precipitation\">\n        <name>Observed Precipitation</name>\n\
                  \        <parameterType>accumulative</parameterType>\n        <unit>mm</unit>\n\
                  \        <displayUnit>mm</displayUnit>\n        <usesDatum>false</usesDatum>\n\
                  \    </parameter>\n</timeseriesparameters>    "
                title: PI_XML
                type: object
                xml:
                  name: timeseriesparameters
          description: ""
        "400":
          content:
            plain/text:
              schema:
                description: Bad request for query parameters can occur when an unexpected
                  parameter is used
                example: Invalid request. An unexpected parameter was used in the
                  request.
                title: Invalid request
                type: string
          description: ""
        "401":
          content:
            plain/text:
              schema:
                description: JWT Id token is missing or invalid
                example: No JWT token provided.
                title: Authorization error
                type: string
          description: ""
        "403":
          content:
            plain/text:
              schema:
                description: Forbidden to access the requested resource
                example: Forbidden to access the requested method.
                title: Forbidden error
                type: string
          description: ""
        "500":
          content:
            plain/text:
              schema:
                description: An internal server error is reported when an application
                  error occurs in the Delft-FEWS Web Services.
                example: Internal server error.
                title: Internal server error
                type: string
          description: ""
      summary: Get parameters that are available for the 'filterId' argument
      tags:
      - parameters
  /parameters/nodes:
    get:
      description: "Get all parameter nodes and its parameters that are available\
        \ in the region config. For each parameterNode the parent node, children nodes\
        \ and all parameter ids are provided."
      operationId: parameters/nodes
      parameters:
      - description: "Supported Document Format: PI_XML, PI_JSON, "
        explode: true
        in: query
        name: documentFormat
        required: false
        schema:
          enum:
          - PI_XML
          - PI_JSON
          type: string
        style: form
      - description: "Document Version. Latest version is: 1.33"
        explode: true
        in: query
        name: documentVersion
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pi_rest_parameters_nodes'
            application/xml:
              schema:
                description: https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_parameter_nodes.xsd
                example: |-
                  <?xml version="1.0" encoding="UTF-8"?>
                  <parameterNodes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.wldelft.nl/fews/PI" xsi:schemaLocation="http://www.wldelft.nl/fews/PI https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_parameter_nodes.xsd">
                      <parameterNode id="All parameters">
                          <name>All parameters</name>
                          <description></description>
                          <parameters>
                              <parameter>Ntot_mass_sum_day</parameter>
                              <parameter>Ntot</parameter>
                              <parameter>Q_sum</parameter>
                              <parameter>VSA_n</parameter>
                              <parameter>Q</parameter>
                              <parameter>Ntot_mass_sum_year</parameter>
                              <parameter>Ntot_mass</parameter>
                              <parameter>PTB_TansleyS</parameter>
                              <parameter>VSM_g</parameter>
                              <parameter>Ptot</parameter>
                              <parameter>Q_period</parameter>
                          </parameters>
                          <parent>Parameters</parent>
                      </parameterNode>
                      <parameterNode id="Hydrobiological">
                          <name>Hydrobiological</name>
                          <description></description>
                          <parameters>
                              <parameter>VSA_n</parameter>
                              <parameter>PTB_TansleyS</parameter>
                              <parameter>VSM_g</parameter>
                          </parameters>
                          <parent>Parameters</parent>
                      </parameterNode>
                      <parameterNode id="Quantity">
                          <name>Quantity</name>
                          <description></description>
                          <parameters>
                              <parameter>Q_sum</parameter>
                              <parameter>Q</parameter>
                              <parameter>Q_period</parameter>
                          </parameters>
                          <parent>Parameters</parent>
                      </parameterNode>
                      <parameterNode id="Quality">
                          <name>Quality</name>
                          <description></description>
                          <parameters>
                              <parameter>Ntot_mass_sum_day</parameter>
                              <parameter>Ntot</parameter>
                              <parameter>Ntot_mass_sum_year</parameter>
                              <parameter>Ntot_mass</parameter>
                              <parameter>Ptot</parameter>
                          </parameters>
                          <parent>Parameters</parent>
                      </parameterNode>
                      <parameterNode id="Parameters">
                          <name>Parameters</name>
                          <description></description>
                          <parameters>
                              <parameter>Amount</parameter>
                              <parameter>Amount_period</parameter>
                              <parameter>Amount_sum</parameter>
                          </parameters>
                          <children>
                              <child>All parameters</child>
                              <child>Hydrobiological</child>
                              <child>Quantity</child>
                              <child>Quality</child>
                          </children>
                      </parameterNode>
                  </parameterNodes>
                title: PI_XML
                type: object
                xml:
                  name: parameterNodes
          description: ""
        "400":
          content:
            plain/text:
              schema:
                description: Bad request for query parameters can occur when an unexpected
                  parameter is used
                example: Invalid request. An unexpected parameter was used in the
                  request.
                title: Invalid request
                type: string
          description: ""
        "401":
          content:
            plain/text:
              schema:
                description: JWT Id token is missing or invalid
                example: No JWT token provided.
                title: Authorization error
                type: string
          description: ""
        "403":
          content:
            plain/text:
              schema:
                description: Forbidden to access the requested resource
                example: Forbidden to access the requested method.
                title: Forbidden error
                type: string
          description: ""
        "500":
          content:
            plain/text:
              schema:
                description: An internal server error is reported when an application
                  error occurs in the Delft-FEWS Web Services.
                example: Internal server error.
                title: Internal server error
                type: string
          description: ""
      summary: Get all parameter nodes and its parameters that are available in the
        region config
      tags:
      - parameters
  /timeseries:
    get:
      description: |-
        Get timeseries that are part of the default filter.<p><h2>parameters</h2>
        Not all parameters can be combined. The following combinations are commonly used valid combinations of parameters. The main way to filter timeseries is by using filter ids or taskrun ids.<p>
        <table border='1'>
            <tr>
                <th>Use cases</th>
                <th>filterId</th>
                <th>taskRunIds</th>
                <th>startTime, endTime</th>
                <th>startCreationTime, endCreationTime</th>
                <th>startForecastTime, endForecastTime</th>
            </tr>
            <tr>
                <td>Apply a filter to the time series. The requested period will be set to the current time minus one day and one hour ago until the current time plus one day and one hour</td>
                <td style="background-color: LightGray; text-align: center;">&nbsp;X</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Get all time series created by one or more taskRuns. All time steps of the matching time series are returned.</td>
                <td></td>
                <td style="background-color: LightGray; text-align: center;">&nbsp;X</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Get the time series created by a taskrun and apply a filter from the Filters configuration. startTime and endTime cannot be specified. The complete time series will be returned. Since
                    2020.01.
                </td>
                <td style="background-color: LightGray; text-align: center;">&nbsp;X</td>
                <td style="background-color: LightGray; text-align: center;">&nbsp;X</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Apply a filter to the time series and return time steps that are in the startTime and endTime range. If the startTime or endTime doesn't match a timestamp of the time series, the closest time step before startTime and/or after endTime is returned as well.</td>
                <td style="background-color: LightGray; text-align: center;">&nbsp;X</td>
                <td></td>
                <td style="background-color: LightGray; text-align: center;">&nbsp;X</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Apply a filter to the time series. Only time series created during the startCreationTime and endCreationTime period will be returned. All time steps of the matching time series are
                    returned.
                </td>
                <td style="background-color: LightGray; text-align: center;">&nbsp;X</td>
                <td></td>
                <td></td>
                <td style="background-color: LightGray; text-align: center;">&nbsp;X</td>
                <td></td>
            </tr>
            <tr>
                <td>Apply a filter to the time series. Return only time series created during the creation time period. Only return timesteps in the startTime and endTime range.</td>
                <td style="background-color: LightGray; text-align: center;">&nbsp;X</td>
                <td></td>
                <td style="background-color: LightGray; text-align: center;">&nbsp;X</td>
                <td style="background-color: LightGray; text-align: center;">&nbsp;X</td>
                <td></td>
            </tr>
            <tr>
                <td>Apply a filter to the time series. Return only time series with external forecast times in the startForecastTime and endForecastTime period. Only return timesteps in the startTime and
                    endTime range.
                </td>
                <td  style="background-color: LightGray; text-align: center;">&nbsp;X</td>
                <td></td>
                <td  style="background-color: LightGray; text-align: center;">&nbsp;X</td>
                <td></td>
                <td  style="background-color: LightGray; text-align: center;">&nbsp;X</td>
            </tr>
            <tr>
                <td>Apply a filter to the time series. Return only time series with external forecast times in the startForecastTime and endForecastTime period that were created in the creation time period.
                    Only return time steps in the startTime and endTime range.
                </td>
                <td  style="background-color: LightGray; text-align: center;">&nbsp;X</td>
                <td></td>
                <td  style="background-color: LightGray; text-align: center;">&nbsp;X</td>
                <td  style="background-color: LightGray; text-align: center;">&nbsp;X</td>
                <td  style="background-color: LightGray; text-align: center;">&nbsp;X</td>
            </tr>
            <tr>
                <td>Apply a filter to the time series. Return only time series created during the creation time period. All time steps of the matching time series are returned. (before 2020.01 startTime and
                    endTime had to be specified).
                </td>
                <td  style="background-color: LightGray; text-align: center;">&nbsp;X</td>
                <td></td>
                <td></td>
                <td  style="background-color: LightGray; text-align: center;">&nbsp;X</td>
                <td></td>
            </tr>
            <tr>
                <td>Apply a filter to the time series. Return only time series with external forecast times in the startForecastTime and endForecastTime period. All time steps of the matching time series are
                    returned.
                </td>
                <td  style="background-color: LightGray; text-align: center;">&nbsp;X</td>
                <td></td>
                <td></td>
                <td></td>
                <td  style="background-color: LightGray; text-align: center;">&nbsp;X</td>
            </tr>
            <tr>
                <td>Apply a filter to the time series. Return only time series created during the creation time period and with external forecast times in the startForecastTime and endForecastTime period. All
                    time steps of the matching time series are returned..
                </td>
                <td  style="background-color: LightGray; text-align: center;">&nbsp;X</td>
                <td></td>
                <td></td>
                <td  style="background-color: LightGray; text-align: center;">&nbsp;X</td>
                <td  style="background-color: LightGray; text-align: center;">&nbsp;X</td>
            </tr>
        </table>

        <h2>no data vs no time series</h2>
        If a timeseries query has matching timeseries sets a http 200 code will be returned and the headers of all matching time series sets will be returned.
        If there is any data for the requested period, the headers will be followed by the actual events that contain the data. So even if no data is available at all the headers are always returned.

        It is also possible that a timeseries query doesn't match any time series sets at all. This is seen as in invalid request and will result in a HTTP 400 response code.
        The following are examples of use cases where this might occur:
        <ul>
            <li>query parameters don't occur in filter. For example: the default filter has subfilters: filterA and filterB. filterA contains timeseries sets with module instance id moduleInstanceA and filterB contains timeseries sets with module instance id moduleInstanceB.
                If a timeseries query is done with parameters: filterId=filterA and moduleInstanceId=moduleInstanceB, this will return in a HTTP 400 response</li>
            <li>no timeseries for creation period. For example: if a query is using startCreationTime and endCreationTime and no time series have been produced during that period, this is seen as an invalid request and a HTTP 400 response is returned.</li>
        </ul>

        <h2>availability of new timeseries</h2>
        When new timeseries have been created, it can take some time before they can be found by the WebServices. The web services updates its indexes every second (every five seconds before 2023.01). Once the indexes have been updated, newly created time series can be found. So it typically can take a few seconds before newly created time series can be found.
      operationId: timeseries
      parameters:
      - description: An existing subfilter of the default filter id
        explode: true
        in: query
        name: filterId
        required: false
        schema:
          type: string
        style: form
      - description: One or more location ids
        explode: true
        in: query
        name: locationIds
        required: false
        schema:
          description: The parameter can be repeated
          items:
            type: string
          type: array
        style: form
      - description: One or more parameter ids
        explode: true
        in: query
        name: parameterIds
        required: false
        schema:
          description: The parameter can be repeated
          items:
            type: string
          type: array
        style: form
      - description: One or more module instance ids
        explode: true
        in: query
        name: moduleInstanceIds
        required: false
        schema:
          description: The parameter can be repeated
          items:
            type: string
          type: array
        style: form
      - description: "One or more qualifier ids. Subset of qualifiers for which to\
          \ retrieve time series. All time series that have any of the specified qualifierIds\
          \ will be returned. To indicate that no qualifier is available, use qualifierIds:\
          \ \"none\""
        explode: true
        in: query
        name: qualifierIds
        required: false
        schema:
          description: The parameter can be repeated
          items:
            type: string
          type: array
        style: form
      - description: One or more taskRunIds
        explode: true
        in: query
        name: taskRunIds
        required: false
        schema:
          description: The parameter can be repeated
          items:
            type: string
          type: array
        style: form
      - description: "Start time of search period that looks for timeseries values\
          \ that are within this period. If the startTime doesn't match a timestamp\
          \ of the time series, the closest timestamp before the startTime, will also\
          \ be returned. Format: yyyy-MM-ddTHH:mm:ssZ. Take note that if no startTime\
          \ and endTime are specified, the requested period will be set to the current\
          \ time minus\_one day and one hour ago until the current time plus one day\
          \ and one hour. If only the startTime is specified, the requested period\
          \ will be set to the startTime until the startTime time plus one day and\
          \ one hour. If only the endTime is specified, the requested period will\
          \ be set to the endTime minus one day and one hour until the endTime."
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          description: Date-time string that adheres to RFC 3339.
          example: 2020-03-18T15:00:00Z
          format: date-time
          type: string
        style: form
      - description: "End time of search period that looks for timeseries values that\
          \ are within this period. If the endTime doesn't match a timestamp of the\
          \ time series, the closest timestamp after the endTime, will also be returned.\
          \ Format: yyyy-MM-ddTHH:mm:ssZ. Take note that if no startTime and endTime\
          \ are specified, the requested period will be set to the current time minus\_\
          one day and one hour ago until the current time plus one day and one hour.\
          \ If only the startTime is specified, the requested period will be set to\
          \ the startTime until the startTime time plus one day and one hour. If only\
          \ the endTime is specified, the requested period will be set to the endTime\
          \ minus one day and one hour until the endTime."
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          description: Date-time string that adheres to RFC 3339.
          example: 2020-03-18T15:00:00Z
          format: date-time
          type: string
        style: form
      - description: "Creation start time. Format: yyyy-MM-ddTHH:mm:ssZ"
        explode: true
        in: query
        name: startCreationTime
        required: false
        schema:
          description: Date-time string that adheres to RFC 3339.
          example: 2020-03-18T15:00:00Z
          format: date-time
          type: string
        style: form
      - description: "Creation end time. Format: yyyy-MM-ddTHH:mm:ssZ"
        explode: true
        in: query
        name: endCreationTime
        required: false
        schema:
          description: Date-time string that adheres to RFC 3339.
          example: 2020-03-18T15:00:00Z
          format: date-time
          type: string
        style: form
      - description: Number of forecasts that will be searched for when startForecastTime
          and endForecastTime have been specified. Default 1
        explode: true
        in: query
        name: forecastCount
        required: false
        schema:
          example: "1"
          format: number
          type: string
        style: form
      - description: "Start time of search period that looks for time series produced\
          \ by forecasts that have their forecast time within this period. Format:\
          \ yyyy-MM-ddTHH:mm:ssZ. If left empty all forecasts up to the endForecastTime\
          \ will be used as search period."
        explode: true
        in: query
        name: startForecastTime
        required: false
        schema:
          description: Date-time string that adheres to RFC 3339.
          example: 2020-03-18T15:00:00Z
          format: date-time
          type: string
        style: form
      - description: "End time of search period that looks for time series produced\
          \ by forecasts that have their forecast time within this period. Format:\
          \ yyyy-MM-ddTHH:mm:ssZ. If left empty all forecasts starting from the startForecastTime\
          \ will be used as search period."
        explode: true
        in: query
        name: endForecastTime
        required: false
        schema:
          description: Date-time string that adheres to RFC 3339.
          example: 2020-03-18T15:00:00Z
          format: date-time
          type: string
        style: form
      - description: "One or more external forecast times. Format: yyyy-MM-ddTHH:mm:ssZ"
        explode: true
        in: query
        name: externalForecastTimes
        required: false
        schema:
          description: The parameter can be repeated
          example: 2020-03-18T15:00:00Z
          items:
            type: string
          type: array
        style: form
      - description: Ensemble Id. Ensemble identifier of time series
        explode: true
        in: query
        name: ensembleId
        required: false
        schema:
          type: string
        style: form
      - description: "Ensemble MemberId. Ensemble member identifier of time series.\
          \ Only allowed in combination with ensembleId <i>Since: 2022.02</i>"
        explode: true
        in: query
        name: ensembleMemberId
        required: false
        schema:
          type: string
        style: form
      - description: "Time Step Id. Filter time series by the time step that has been\
          \ configured in the TimeSteps.xml. N.B.: It is not required to use the timeStepId's\
          \ in the filter configurations to be able to use them as long as they have\
          \ been configured in the TimeSteps.xml. <i>Since: 2018.02</i>"
        explode: true
        in: query
        name: timeStepId
        required: false
        schema:
          type: string
        style: form
      - description: "Thinning is used to retrieve the visually interesting time steps\
          \ of timeSeries. It tries to keep the peaks and gaps and minimizes the number\
          \ of time steps that have to be retrieved. It is typically used for visualizations.\
          \ The value to be specified should be equal to the view period in milliseconds\
          \ of the timeSeries that is visualized divided by the number of pixels that\
          \ are available for display. For example: visualizing a view period of 5\
          \ years (157784760000 milliseconds) on a display of 1024 pixels, the thinning\
          \ parameter should be set to 157784760000/1024 = 15408668. unit ms/pixel."
        explode: true
        in: query
        name: thinning
        required: false
        schema:
          example: "15408668"
          format: number
          type: string
        style: form
      - description: "Name of the id map that should be used as exportIdMap. This\
          \ parameter will overrule a configured exportIdMap. <i>Since: 2022.02</i>"
        explode: true
        in: query
        name: exportIdMap
        required: false
        schema:
          type: string
        style: form
      - description: Since 2023.01. If this option is to true the qualifier from time
          series selected from the filter must contain all of the given qualifiers
          ids and only consist only of the given qualifiers ids
        explode: true
        in: query
        name: matchAsQualifierSet
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: "import data from external data source, defaults to true."
        explode: true
        in: query
        name: importFromExternalDataSource
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Convert values from relative location height to absolute height
          values
        explode: true
        in: query
        name: convertDatum
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Show ensemble member ids instead of ensemble member indices.
        explode: true
        in: query
        name: showEnsembleMemberIds
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Export values using display units.
        explode: true
        in: query
        name: useDisplayUnits
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Option to toggle the returning of threshold information in the
          headers.
        explode: true
        in: query
        name: showThresholds
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Toggle omitting or returning of missing values in response.
        explode: true
        in: query
        name: omitMissing
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: "Toggle omitting or returning headers of empty timeSeries. Default\
          \ is false. <i>Since: 2020.02</i>"
        explode: true
        in: query
        name: omitEmptyTimeSeries
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Toggle to return only manual edits.
        explode: true
        in: query
        name: onlyManualEdits
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Toggle to return only header information or also data.
        explode: true
        in: query
        name: onlyHeaders
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Toggle to return only forecast timeSeries (Since 2017.02).
        explode: true
        in: query
        name: onlyForecasts
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: "Toggle to return statistics information about timeseries. Typically\
          \ used in combination with onlyHeaders. Returns additional information about\
          \ data availability of timeseries:<ul><li>firstValueTime: First time with\
          \ a value in the timeSeries</li><li>maxValue: Maximum value in the timeSeries</li><li>minValue:\
          \ Minimum value in the timeSeries</li><li>valueCount: Number of values in\
          \ the timeSeries</li></ul>. These statistics are only provided if there\
          \ is any data, otherwise they are left out."
        explode: true
        in: query
        name: showStatistics
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Toggle to return milliseconds in time step.
        explode: true
        in: query
        name: useMilliseconds
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Toggle to display product information that is assigned to a forecast.
          (Since 2019.02).
        explode: true
        in: query
        name: showProducts
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: "Explicitly filter on a specific time series type. <i>Since:\
          \ 2020.01</i>"
        explode: true
        in: query
        name: timeSeriesType
        required: false
        schema:
          enum:
          - EXTERNAL_HISTORICAL
          - EXTERNAL_FORECASTING
          - SIMULATED_HISTORICAL
          - SIMULATED_FORECASTING
          type: string
        style: form
      - description: "Supported Document Format: PI_XML, PI_JSON, DD_JSON, NOOS_TEXT,\
          \ BINARY, "
        explode: true
        in: query
        name: documentFormat
        required: false
        schema:
          enum:
          - PI_XML
          - PI_JSON
          - NOOS_TEXT
          - DD_JSON
          - BINARY
          type: string
        style: form
      - description: "Document Version. Latest version is: 1.33"
        explode: true
        in: query
        name: documentVersion
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/timeseries_200_response'
            application/xml:
              schema:
                description: https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_timeseries.xsd
                example: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<TimeSeries\
                  \ xmlns=\"http://www.wldelft.nl/fews/PI\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
                  \ xsi:schemaLocation=\"http://www.wldelft.nl/fews/PI https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_timeseries.xsd\"\
                  \ version=\"1.27\" xmlns:fs=\"http://www.wldelft.nl/fews/fs\">\n\
                  \    <timeZone>0.0</timeZone>\n    <series>\n        <header>\n\
                  \            <type>instantaneous</type>\n            <moduleInstanceId>Coastal_Process_Astro</moduleInstanceId>\n\
                  \            <locationId>5028N331W</locationId>\n            <parameterId>H.astronomical</parameterId>\n\
                  \            <qualifierId>HighTide</qualifierId>\n            <timeStep\
                  \ unit=\"nonequidistant\"/>\n            <startDate date=\"2021-06-24\"\
                  \ time=\"08:00:00\"/>\n            <endDate date=\"2021-06-25\"\
                  \ time=\"09:00:00\"/>\n            <missVal>-999.0</missVal>\n \
                  \           <stationName>Torquay Astro</stationName>\n         \
                  \   <lat>50.46667804024676</lat>\n            <lon>-3.533324439637471</lon>\n\
                  \            <x>291274.0</x>\n            <y>64107.0</y>\n     \
                  \       <units>m</units>\n        </header>\n    </series>\n</TimeSeries>\
                  \    "
                title: PI_XML
                type: object
                xml:
                  name: TimeSeries
          description: ""
        "400":
          content:
            plain/text:
              schema:
                $ref: '#/components/schemas/timeseries_400_response'
          description: ""
        "401":
          content:
            plain/text:
              schema:
                description: JWT Id token is missing or invalid
                example: No JWT token provided.
                title: Authorization error
                type: string
          description: ""
        "403":
          content:
            plain/text:
              schema:
                description: Forbidden to access the requested resource
                example: Forbidden to access the requested method.
                title: Forbidden error
                type: string
          description: ""
        "500":
          content:
            plain/text:
              schema:
                description: An internal server error is reported when an application
                  error occurs in the Delft-FEWS Web Services.
                example: Internal server error.
                title: Internal server error
                type: string
          description: ""
      summary: Get timeseries that are part of the default filter
      tags:
      - timeseries
    post:
      description: |-
        Timeseries will be written that are part of the timeseries sets defined by the filters. The application/x-www-form-urlencoded encoding has to be used. Readonly mode has to be disable in the FewsPiService.properties to allow this functionality.<p>The timeseries you post to the rest service should match one of the time series sets in the default filter or one of its sub filters. To make sure you only write time series for a specific filter, you can pass a filterId with the POST request. Only timeseries that have timeseries sets that are configured in that filter (or one of its sub filters) will be accepted. If no filterId is used, all time series will be accepted that are configured in the default filter. Writing the time series works similar to importing time series using the pi.xml format using the "PI" import type. See also: <a target='_new' href='https://publicwiki.deltares.nl/x/uIGE'>Delft-Fews Published Interface timeseries Format (PI) Import</a>

        The 'convertDatum' argument is to allow timeseries that support a datum to have their values converted to a value relative to the location height. If values are already relative to location then enter FALSE or omit.

        In case a time series already exists in the database, the time series will be overwritten by the ones that are posted. For forecast time series with different forecastDates a new time series will be added. The latter can be achieved by providing a forecastDate element in the POST request, e.g. <forecastDate date="2013-01-01" time="00:00:00"/>.
      operationId: posttimeseries
      parameters:
      - description: An existing subfilter of the default filter id
        explode: true
        in: query
        name: filterId
        required: false
        schema:
          type: string
        style: form
      - description: Convert Datum
        explode: true
        in: query
        name: convertDatum
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/posttimeseries_request'
      responses:
        "200":
          content:
            application/xml:
              schema:
                description: https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_diag.xsd
                example: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <Diag xmlns="http://www.wldelft.nl/fews/PI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews/PI http://fews.
                  wldelft.nl/schemas/version1.0/pi-schemas/pi_diag.xsd" version="1.2">
                      <line level="2" description="Multiple time series sets found for parameter=T.obs.mean location=63306260000"/>
                      <line level="3" description="Import.Info: External time series successfully mapped to FEWS time series 63306260000 T.obs.mean   (m) nonequidistant Tue Jan 0
                  1 01:40:00 CET 2013 z=0.0"/>
                      <line level="3" description="Import.info: 1 time series imported, 0 time series rejected"/>
                      <line level="3" description="Import.info: The following locations-parameter combination imported  63306260000:T.obs.mean"/
                  </Diag>
                title: PI_XML
                type: object
                xml:
                  name: Diag
          description: ""
        "400":
          content:
            plain/text:
              schema:
                description: Bad request for query parameters can occur when an unexpected
                  parameter is used
                example: Invalid request. An unexpected parameter was used in the
                  request.
                title: Invalid request
                type: string
          description: ""
        "401":
          content:
            plain/text:
              schema:
                description: JWT Id token is missing or invalid
                example: No JWT token provided.
                title: Authorization error
                type: string
          description: ""
        "403":
          content:
            plain/text:
              schema:
                description: Forbidden to access the requested resource
                example: Forbidden to access the requested method.
                title: Forbidden error
                type: string
          description: ""
        "500":
          content:
            plain/text:
              schema:
                description: An internal server error is reported when an application
                  error occurs in the Delft-FEWS Web Services.
                example: Internal server error.
                title: Internal server error
                type: string
          description: ""
      summary: Timeseries will be written that are part of the timeseries sets defined
        by the filters
      tags:
      - timeseries
  /timeseries/displaygroups:
    get:
      description: "Timeseries are filtered by the plotId from the DisplayGroups.xml\
        \ configuration in the SystemConfigFiles folder.<p>The TimeSeriesSets configured\
        \ for the plotId will be used to filter the timeSeries. The line, area and\
        \ clusteredBars elements are used when determining the relevant TimeSeriesSets.\
        \ In case of forecasts, this means only the current forecast will be retrieved.\
        \ It is not possible to request older forecasts. If no line, area or clusteredBars\
        \ elements are used in the displayGroups.xml configuration, the TimeSeriesSets\
        \ will not be applied."
      operationId: timeseries/displaygroups
      parameters:
      - description: Plot Id
        explode: true
        in: query
        name: plotId
        required: true
        schema:
          type: string
        style: form
      - description: One or more location ids
        explode: true
        in: query
        name: locationIds
        required: false
        schema:
          description: The parameter can be repeated
          items:
            type: string
          type: array
        style: form
      - description: "Start time of search period that looks for timeseries values\
          \ that are within this period. If the startTime doesn't match a timestamp\
          \ of the time series, the closest timestamp before the startTime, will also\
          \ be returned. Format: yyyy-MM-ddTHH:mm:ssZ"
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          description: Date-time string that adheres to RFC 3339.
          example: 2020-03-18T15:00:00Z
          format: date-time
          type: string
        style: form
      - description: "End time of search period that looks for timeseries values that\
          \ are within this period. If the endTime doesn't match a timestamp of the\
          \ time series, the closest timestamp after the endTime, will also be returned.\
          \ Format: yyyy-MM-ddTHH:mm:ssZ"
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          description: Date-time string that adheres to RFC 3339.
          example: 2020-03-18T15:00:00Z
          format: date-time
          type: string
        style: form
      - description: "Thinning is used to retrieve the visually interesting time steps\
          \ of timeSeries. It tries to keep the peaks and gaps and minimizes the number\
          \ of time steps that have to be retrieved. It is typically used for visualizations.\
          \ The value to be specified should be equal to the view period in milliseconds\
          \ of the timeSeries that is visualized divided by the number of pixels that\
          \ are available for display. For example: visualizing a view period of 5\
          \ years (157784760000 milliseconds) on a display of 1024 pixels, the thinning\
          \ parameter should be set to 157784760000/1024 = 15408668. unit ms/pixel."
        explode: true
        in: query
        name: thinning
        required: false
        schema:
          example: "15408668"
          format: number
          type: string
        style: form
      - description: Convert Datum
        explode: true
        in: query
        name: convertDatum
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Show ensemble member ids instead of ensemble member indices.
        explode: true
        in: query
        name: showEnsembleMemberIds
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Export values using display units
        explode: true
        in: query
        name: useDisplayUnits
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Option to toggle the returning of threshold information in the
          headers.
        explode: true
        in: query
        name: showThresholds
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Toggle omitting or returning of missing values in response.
        explode: true
        in: query
        name: omitMissing
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: "Toggle omitting or returning headers of empty timeSeries. Default\
          \ is false. <i>Since: 2020.02</i>"
        explode: true
        in: query
        name: omitEmptyTimeSeries
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Toggle to return only header information or also data.
        explode: true
        in: query
        name: onlyHeaders
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Toggle to return only manual edits.
        explode: true
        in: query
        name: onlyManualEdits
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Toggle to return only forecast timeSeries (Since 2017.02).
        explode: true
        in: query
        name: onlyForecasts
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: "Toggle to return statistics information about timeseries. Typically\
          \ used in combination with onlyHeaders. Returns additional information about\
          \ data availability of timeseries:<ul><li>firstValueTime: First time with\
          \ a value in the timeSeries</li><li>maxValue: Maximum value in the timeSeries</li><li>minValue:\
          \ Minimum value in the timeSeries</li><li>valueCount: Number of values in\
          \ the timeSeries</li></ul>. These statistics are only provided if there\
          \ is any data, otherwise they are left out."
        explode: true
        in: query
        name: showStatistics
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Toggle to return milliseconds in time step.
        explode: true
        in: query
        name: useMilliseconds
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Toggle to display product information that is assigned to a forecast.
          (Since 2019.02).
        explode: true
        in: query
        name: showProducts
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: "Explicitly filter on a specific time series type. <i>Since:\
          \ 2020.01</i>"
        explode: true
        in: query
        name: timeSeriesType
        required: false
        schema:
          enum:
          - EXTERNAL_HISTORICAL
          - EXTERNAL_FORECASTING
          - SIMULATED_HISTORICAL
          - SIMULATED_FORECASTING
          type: string
        style: form
      - description: "Supported Document Format: PI_XML, PI_JSON, DD_JSON, NOOS_TEXT, "
        explode: true
        in: query
        name: documentFormat
        required: false
        schema:
          enum:
          - PI_XML
          - PI_JSON
          - NOOS_TEXT
          - DD_JSON
          type: string
        style: form
      - description: "Document Version. Latest version is: 1.33"
        explode: true
        in: query
        name: documentVersion
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/timeseries_200_response'
            application/xml:
              schema:
                description: https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_timeseries.xsd
                example: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<TimeSeries\
                  \ xmlns=\"http://www.wldelft.nl/fews/PI\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
                  \ xsi:schemaLocation=\"http://www.wldelft.nl/fews/PI https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_timeseries.xsd\"\
                  \ version=\"1.27\" xmlns:fs=\"http://www.wldelft.nl/fews/fs\">\n\
                  \    <timeZone>0.0</timeZone>\n    <series>\n        <header>\n\
                  \            <type>instantaneous</type>\n            <moduleInstanceId>Coastal_Process_Astro</moduleInstanceId>\n\
                  \            <locationId>5028N331W</locationId>\n            <parameterId>H.astronomical</parameterId>\n\
                  \            <qualifierId>HighTide</qualifierId>\n            <timeStep\
                  \ unit=\"nonequidistant\"/>\n            <startDate date=\"2021-06-24\"\
                  \ time=\"08:00:00\"/>\n            <endDate date=\"2021-06-25\"\
                  \ time=\"09:00:00\"/>\n            <missVal>-999.0</missVal>\n \
                  \           <stationName>Torquay Astro</stationName>\n         \
                  \   <lat>50.46667804024676</lat>\n            <lon>-3.533324439637471</lon>\n\
                  \            <x>291274.0</x>\n            <y>64107.0</y>\n     \
                  \       <units>m</units>\n        </header>\n    </series>\n</TimeSeries>\
                  \    "
                title: PI_XML
                type: object
                xml:
                  name: TimeSeries
          description: ""
        "400":
          content:
            plain/text:
              schema:
                description: Bad request for query parameters can occur when an unexpected
                  parameter is used
                example: Invalid request. An unexpected parameter was used in the
                  request.
                title: Invalid request
                type: string
          description: ""
        "401":
          content:
            plain/text:
              schema:
                description: JWT Id token is missing or invalid
                example: No JWT token provided.
                title: Authorization error
                type: string
          description: ""
        "403":
          content:
            plain/text:
              schema:
                description: Forbidden to access the requested resource
                example: Forbidden to access the requested method.
                title: Forbidden error
                type: string
          description: ""
        "500":
          content:
            plain/text:
              schema:
                description: An internal server error is reported when an application
                  error occurs in the Delft-FEWS Web Services.
                example: Internal server error.
                title: Internal server error
                type: string
          description: ""
      summary: Timeseries are filtered by the plotId from the DisplayGroups
      tags:
      - timeseries
  /ensembles/members:
    get:
      description: Get all ensemble member ids for one or more ensemble Ids. The available
        member ids depend on an up-to-date index. This is run once a day on a forecasting
        shell server.
      operationId: ensembles/members
      parameters:
      - description: One or more ensemble ids
        explode: true
        in: query
        name: ensembleIds
        required: true
        schema:
          description: The parameter can be repeated
          items:
            type: string
          type: array
        style: form
      - description: "Supported Document Format: PI_JSON, "
        explode: true
        in: query
        name: documentFormat
        required: false
        schema:
          enum:
          - PI_JSON
          type: string
        style: form
      - description: "Document Version. Latest version is: 1.33"
        explode: true
        in: query
        name: documentVersion
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pi_rest_timeseries_ensembles_members'
          description: ""
        "400":
          content:
            plain/text:
              schema:
                description: Bad request for query parameters can occur when an unexpected
                  parameter is used
                example: Invalid request. An unexpected parameter was used in the
                  request.
                title: Invalid request
                type: string
          description: ""
        "401":
          content:
            plain/text:
              schema:
                description: JWT Id token is missing or invalid
                example: No JWT token provided.
                title: Authorization error
                type: string
          description: ""
        "403":
          content:
            plain/text:
              schema:
                description: Forbidden to access the requested resource
                example: Forbidden to access the requested method.
                title: Forbidden error
                type: string
          description: ""
        "500":
          content:
            plain/text:
              schema:
                description: An internal server error is reported when an application
                  error occurs in the Delft-FEWS Web Services.
                example: Internal server error.
                title: Internal server error
                type: string
          description: ""
      summary: Get all ensemble member ids for one or more ensemble Ids
      tags:
      - timeseries
  /import/status:
    get:
      description: Get the status of the imports
      operationId: import/status
      parameters:
      - description: Define the format of the response
        explode: true
        in: query
        name: format of the document (PI_JSON or PI_XML)
        required: false
        schema:
          enum:
          - PI_JSON
          - PI_XML
          type: string
        style: form
      - description: "Supported Document Format: PI_XML, PI_JSON, "
        explode: true
        in: query
        name: documentFormat
        required: false
        schema:
          enum:
          - PI_XML
          - PI_JSON
          type: string
        style: form
      - description: "Document Version. Latest version is: 1.33"
        explode: true
        in: query
        name: documentVersion
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pi_rest_importstatus'
            application/xml:
              schema:
                description: https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_importstatus.xsd
                example: |-
                  <?xml version="1.0" encoding="UTF-8"?>
                  <importStatus xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.wldelft.nl/fews/PI" xsi:schemaLocation="http://www.wldelft.nl/fews/PI https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_importstatus.xsd">
                      <statusTask>
                          <mcId>mc1</mcId>
                          <dataFeed>dataFeed</dataFeed>
                          <directory>/data/input</directory>
                          <lastImportTime date="2010-01-01" time="00:00:00"/>
                          <lastFileImported>import.xml</lastFileImported>
                          <filesRead>10</filesRead>
                          <filesFailed>1</filesFailed>
                          <lastImportTimeBackgroundColor>red</lastImportTimeBackgroundColor>
                      </statusTask>
                  </importStatus>
                title: PI_XML
                type: object
                xml:
                  name: ImportStatus
          description: ""
        "401":
          content:
            plain/text:
              schema:
                description: JWT Id token is missing or invalid
                example: No JWT token provided.
                title: Authorization error
                type: string
          description: ""
        "403":
          content:
            plain/text:
              schema:
                description: Forbidden to access the requested resource
                example: Forbidden to access the requested method.
                title: Forbidden error
                type: string
          description: ""
        "500":
          content:
            plain/text:
              schema:
                description: An internal server error is reported when an application
                  error occurs in the Delft-FEWS Web Services.
                example: Internal server error.
                title: Internal server error
                type: string
          description: ""
      summary: Get the status of the imports
      tags:
      - importstatus
  /taskruns:
    get:
      description: Get all taskruns for a workflowId filtered by parameters like forecast
        time or taskrun status. Default only taskruns of forecasts are returned.
      operationId: taskruns
      parameters:
      - description: Workflow Id
        explode: true
        in: query
        name: workflowId
        required: true
        schema:
          type: string
        style: form
      - description: WhatIf Id
        explode: true
        in: query
        name: whatIfId
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by mcId. <i>Since: 2021.01</i>"
        explode: true
        in: query
        name: mcId
        required: false
        schema:
          type: string
        style: form
      - description: Forecast Start time task run
        explode: true
        in: query
        name: startForecastTime
        required: false
        schema:
          description: Date-time string that adheres to RFC 3339.
          example: 2020-03-18T15:00:00Z
          format: date-time
          type: string
        style: form
      - description: Forecast end time task run
        explode: true
        in: query
        name: endForecastTime
        required: false
        schema:
          description: Date-time string that adheres to RFC 3339.
          example: 2020-03-18T15:00:00Z
          format: date-time
          type: string
        style: form
      - description: Dispatch Start time task run
        explode: true
        in: query
        name: startDispatchTime
        required: false
        schema:
          description: Date-time string that adheres to RFC 3339.
          example: 2020-03-18T15:00:00Z
          format: date-time
          type: string
        style: form
      - description: Dispatch end time task run
        explode: true
        in: query
        name: endDispatchTime
        required: false
        schema:
          description: Date-time string that adheres to RFC 3339.
          example: 2020-03-18T15:00:00Z
          format: date-time
          type: string
        style: form
      - description: Task run status ids
        explode: true
        in: query
        name: taskRunStatusIds
        required: false
        schema:
          description: The parameter can be repeated
          items:
            type: string
          type: array
        style: form
      - description: Toggle to return only forecast timeSeries (Since 2017.02). Default
          is 'true'
        explode: true
        in: query
        name: onlyForecasts
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Only Current Forecast
        explode: true
        in: query
        name: onlyCurrent
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: "Supported Document Format: PI_XML, PI_JSON, "
        explode: true
        in: query
        name: documentFormat
        required: false
        schema:
          enum:
          - PI_XML
          - PI_JSON
          type: string
        style: form
      - description: "Document Version. Latest version is: 1.33"
        explode: true
        in: query
        name: documentVersion
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pi_rest_taskruns'
            application/xml:
              schema:
                description: https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_taskruns.xsd
                example: |-
                  <?xml version="1.0" encoding="UTF-8"?>
                  <TaskRuns xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.wldelft.nl/fews/PI" xsi:schemaLocation="http://www.wldelft.nl/fews/PI https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_taskruns.xsd" version="1.27">
                      <timeZone>0.0</timeZone>
                      <taskRun taskRunId="ukeafffsmc00:001022122">
                          <forecast>false</forecast>
                          <status>running</status>
                          <workflowId>Import_G2G_Nowcast_Ensemble</workflowId>
                          <dispatchTime date="2021-06-25" time="08:08:00"/>
                          <time0 date="2021-06-25" time="08:08:00"/>
                          <fssId>23</fssId>
                          <description>Import G2G Nowcast Ensemble</description>
                      </taskRun>
                  </TaskRuns>
                title: PI_XML
                type: object
                xml:
                  name: TaskRuns
          description: ""
        "400":
          content:
            plain/text:
              schema:
                description: Bad request for query parameters can occur when an unexpected
                  parameter is used
                example: Invalid request. An unexpected parameter was used in the
                  request.
                title: Invalid request
                type: string
          description: ""
        "401":
          content:
            plain/text:
              schema:
                description: JWT Id token is missing or invalid
                example: No JWT token provided.
                title: Authorization error
                type: string
          description: ""
        "403":
          content:
            plain/text:
              schema:
                description: Forbidden to access the requested resource
                example: Forbidden to access the requested method.
                title: Forbidden error
                type: string
          description: ""
        "500":
          content:
            plain/text:
              schema:
                description: An internal server error is reported when an application
                  error occurs in the Delft-FEWS Web Services.
                example: Internal server error.
                title: Internal server error
                type: string
          description: ""
      summary: Get all taskruns for a workflowId filtered by parameters like forecast
        time or taskrun status
      tags:
      - tasks
  /moduleruntimes:
    get:
      description: |
        Get all expected and pending runtimes for workflows per module instance id. The list can optionally be filtered by workflowId.

        Only workflows of scheduled tasks that contain module instance descriptors that have been configured with updateModuleRunTimesOnCompletion enabled, will be available in this end point.
        The expected start time of a module is calculated based on the scheduled next due time and the expected pending duration time.
        The expected end time of a module is calculated based on the scheduled next due time, the expected pending duration time and the expected running time.
        For triggered tasks, the expected start time en end time won't be available until the task is actually started.
      operationId: moduleruntimes
      parameters:
      - description: Filter module run time with the specified workflowId
        explode: true
        in: query
        name: workflowId
        required: false
        schema:
          type: string
        style: form
      - description: "Supported Document Format: PI_XML, PI_JSON, "
        explode: true
        in: query
        name: documentFormat
        required: false
        schema:
          enum:
          - PI_XML
          - PI_JSON
          type: string
        style: form
      - description: "Document Version. Latest version is: 1.33"
        explode: true
        in: query
        name: documentVersion
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pi_rest_module_run_times'
            application/xml:
              schema:
                description: https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_moduleruntimes.xsd
                example: |2-

                  <?xml version="1.0" encoding="UTF-8"?>
                  <ModuleRunTimes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.wldelft.nl/fews/PI" xsi:schemaLocation="http://www.wldelft.nl/fews/PI https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_moduleruntimes.xsd">
                      <moduleRunTime>
                          <mcId>nldefedmc00</mcId>
                          <workflowId>Meuse_DWD_COSMO_LEPS</workflowId>
                          <moduleInstanceId>Dummy</moduleInstanceId>
                          <expectedStartTime date="2021-10-13" time="13:15:01"/>
                          <expectedCompletionTime date="2021-10-13" time="13:16:54"/>
                          <expectedPendingDuration>1465</expectedPendingDuration>
                          <expectedRunningDuration>112634</expectedRunningDuration>
                      </moduleRunTime>
                  </ModuleRunTimes>
                title: PI_XML
                type: object
                xml:
                  name: moduleRunTimes
          description: ""
        "400":
          content:
            plain/text:
              schema:
                description: Bad request for query parameters can occur when an unexpected
                  parameter is used
                example: Invalid request. An unexpected parameter was used in the
                  request.
                title: Invalid request
                type: string
          description: ""
        "401":
          content:
            plain/text:
              schema:
                description: JWT Id token is missing or invalid
                example: No JWT token provided.
                title: Authorization error
                type: string
          description: ""
        "403":
          content:
            plain/text:
              schema:
                description: Forbidden to access the requested resource
                example: Forbidden to access the requested method.
                title: Forbidden error
                type: string
          description: ""
        "500":
          content:
            plain/text:
              schema:
                description: An internal server error is reported when an application
                  error occurs in the Delft-FEWS Web Services.
                example: Internal server error.
                title: Internal server error
                type: string
          description: ""
      summary: Get all expected and pending runtimes for workflows per module instance
        id
      tags:
      - tasks
  /timeseries/grid:
    get:
      description: "Get the timeseries containing the data from a grid cell for a\
        \ request period. The grid is specified by passing a layerId.<p>The grid cell\
        \ is determined by specifying a x and y coordinate and a bounding box. Currenly\
        \ only EPSG:3857 is supported for the x,y, and bounding box coordinates. At\
        \ least a layer, startTime, endTime, x,y and bounding box are required. The\
        \ timeseries/grid endpoint is intended to be used together with the Delf-FEWS\
        \ WMS service. Every layer that is provided by the WMS service, can be used\
        \ with this endpoint."
      operationId: timeseriesgrid
      parameters:
      - description: "bounding box of map that is viewed in , separated EPSG:3857\
          \ format. The order of the coordinates is as follows: bottom left X, bottom\
          \ left Y, top right X, top right Y."
        explode: true
        in: query
        name: bbox
        required: true
        schema:
          example: "-1558755.612890017,4979850.04379049,1623657.8112034467,6709422.556884765"
          type: string
        style: form
      - description: "Start time of search period that looks for timeseries values\
          \ that are within this period. If the start time doesn't match a timestamp\
          \ of the time series, the closest timestamp before the startTime, will also\
          \ be returned.  Format: yyyy-MM-ddTHH:mm:ssZ"
        explode: true
        in: query
        name: startTime
        required: true
        schema:
          description: Date-time string that adheres to RFC 3339.
          example: 2020-03-18T15:00:00Z
          format: date-time
          type: string
        style: form
      - description: "End time of search period that looks for timeseries values that\
          \ are within this period. If the endTime doesn't match a timestamp of the\
          \ time series, the closest timestamp after the endTime, will also be returned.\
          \ Format: yyyy-MM-ddTHH:mm:ssZ"
        explode: true
        in: query
        name: endTime
        required: true
        schema:
          description: Date-time string that adheres to RFC 3339.
          example: 2020-03-18T15:00:00Z
          format: date-time
          type: string
        style: form
      - description: ' layerd id (only one layer is supported and required) that matches
          the gridPlot id as configured in the gridDisplay. Every gridPlot that has
          been configured in the grid display configuration represents a WMS layer.'
        explode: true
        in: query
        name: layers
        required: true
        schema:
          example: Temp_forecast
          type: string
        style: form
      - description: x position on the map in EPSG:3857 format.
        explode: true
        in: query
        name: x
        required: true
        schema:
          example: "458757.12883912364"
          format: double
          type: string
        style: form
      - description: y position on the map in EPSG:3857 format.
        explode: true
        in: query
        name: "y"
        required: true
        schema:
          example: "5811252.569955047"
          format: double
          type: string
        style: form
      - description: "Time value of external forecast time. Format: yyyy-MM-ddTHH:mm:ssZ"
        explode: true
        in: query
        name: externalForecastTime
        required: false
        schema:
          description: Date-time string that adheres to RFC 3339.
          example: 2020-03-18T15:00:00Z
          format: date-time
          type: string
        style: form
      - description: "Used in combination with ensembleMemberId to identify a unique\
          \ ensemble. <i>Since: 2020.01</i>"
        explode: true
        in: query
        name: ensembleId
        required: false
        schema:
          type: string
        style: form
      - description: "Used in combination with ensembleId to identify a unique ensemble\
          \ <i>Since: 2020.01</i>"
        explode: true
        in: query
        name: ensembleMemberId
        required: false
        schema:
          type: string
        style: form
      - description: "Used for 3d data, like for example water depth, to get the timeseries\
          \ of a grid point at a specific elevation. <i>Since:  2020.01</i>"
        explode: true
        in: query
        name: elevation
        required: false
        schema:
          format: double
          type: string
        style: form
      - description: "Thinning is used to retrieve the visually interesting time steps\
          \ of timeSeries. It tries to keep the peaks and gaps and minimizes the number\
          \ of time steps that have to be retrieved. It is typically used for visualizations.\
          \ The value to be specified should be equal to the view period in milliseconds\
          \ of the timeSeries that is visualized divided by the number of pixels that\
          \ are available for display. For example: visualizing a view period of 5\
          \ years (157784760000 milliseconds) on a display of 1024 pixels, the thinning\
          \ parameter should be set to 157784760000/1024 = 15408668. unit ms/pixel."
        explode: true
        in: query
        name: thinning
        required: false
        schema:
          example: "15408668"
          format: number
          type: string
        style: form
      - description: "import data from external data source, defaults to true."
        explode: true
        in: query
        name: importFromExternalDataSource
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Convert values from relative location height to absolute height
          values.
        explode: true
        in: query
        name: convertDatum
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Show ensemble member ids instead of ensemble member indices.
        explode: true
        in: query
        name: showEnsembleMemberIds
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Export values using display units.
        explode: true
        in: query
        name: useDisplayUnits
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: "Show vertical profile in case of 3D data. <i>Since: 2020.01</i>"
        explode: true
        in: query
        name: showVerticalProfile
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Option to toggle the returning of threshold information in the
          headers.
        explode: true
        in: query
        name: showThresholds
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Toggle omitting or returning of missing values in response.
        explode: true
        in: query
        name: omitMissing
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: "Toggle omitting or returning headers of empty timeSeries. Default\
          \ is false. <i>Since: 2020.02</i>"
        explode: true
        in: query
        name: omitEmptyTimeSeries
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Toggle to return only manual edits.
        explode: true
        in: query
        name: onlyManualEdits
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Toggle to return only header information or also data.
        explode: true
        in: query
        name: onlyHeaders
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Toggle to return only forecast timeSeries (Since 2017.02).
        explode: true
        in: query
        name: onlyForecasts
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: "Toggle to return statistics information about timeseries. Typically\
          \ used in combination with onlyHeaders. Returns additional information about\
          \ data availability of timeseries:<ul><li>firstValueTime: First time with\
          \ a value in the timeSeries</li><li>maxValue: Maximum value in the timeSeries</li><li>minValue:\
          \ Minimum value in the timeSeries</li><li>valueCount: Number of values in\
          \ the timeSeries</li></ul>. These statistics are only provided if there\
          \ is any data, otherwise they are left out."
        explode: true
        in: query
        name: showStatistics
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Toggle to return milliseconds in time step.
        explode: true
        in: query
        name: useMilliseconds
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: "Toggle to display product information that is assigned to a\
          \ forecast. <i>Since: 2019.02</i>"
        explode: true
        in: query
        name: showProducts
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: "Supported Document Format: PI_XML, PI_JSON, DD_JSON, NOOS_TEXT, "
        explode: true
        in: query
        name: documentFormat
        required: false
        schema:
          enum:
          - PI_XML
          - PI_JSON
          - NOOS_TEXT
          - DD_JSON
          type: string
        style: form
      - description: "Document Version. Latest version is: 1.33"
        explode: true
        in: query
        name: documentVersion
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/timeseries_200_response'
            application/xml:
              schema:
                description: https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_timeseries.xsd
                example: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<TimeSeries\
                  \ xmlns=\"http://www.wldelft.nl/fews/PI\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
                  \ xsi:schemaLocation=\"http://www.wldelft.nl/fews/PI https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_timeseries.xsd\"\
                  \ version=\"1.27\" xmlns:fs=\"http://www.wldelft.nl/fews/fs\">\n\
                  \    <timeZone>0.0</timeZone>\n    <series>\n        <header>\n\
                  \            <type>instantaneous</type>\n            <moduleInstanceId>Coastal_Process_Astro</moduleInstanceId>\n\
                  \            <locationId>5028N331W</locationId>\n            <parameterId>H.astronomical</parameterId>\n\
                  \            <qualifierId>HighTide</qualifierId>\n            <timeStep\
                  \ unit=\"nonequidistant\"/>\n            <startDate date=\"2021-06-24\"\
                  \ time=\"08:00:00\"/>\n            <endDate date=\"2021-06-25\"\
                  \ time=\"09:00:00\"/>\n            <missVal>-999.0</missVal>\n \
                  \           <stationName>Torquay Astro</stationName>\n         \
                  \   <lat>50.46667804024676</lat>\n            <lon>-3.533324439637471</lon>\n\
                  \            <x>291274.0</x>\n            <y>64107.0</y>\n     \
                  \       <units>m</units>\n        </header>\n    </series>\n</TimeSeries>\
                  \    "
                title: PI_XML
                type: object
                xml:
                  name: TimeSeries
          description: ""
        "400":
          content:
            plain/text:
              schema:
                description: Bad request for query parameters can occur when an unexpected
                  parameter is used
                example: Invalid request. An unexpected parameter was used in the
                  request.
                title: Invalid request
                type: string
          description: ""
        "401":
          content:
            plain/text:
              schema:
                description: JWT Id token is missing or invalid
                example: No JWT token provided.
                title: Authorization error
                type: string
          description: ""
        "403":
          content:
            plain/text:
              schema:
                description: Forbidden to access the requested resource
                example: Forbidden to access the requested method.
                title: Forbidden error
                type: string
          description: ""
        "500":
          content:
            plain/text:
              schema:
                description: An internal server error is reported when an application
                  error occurs in the Delft-FEWS Web Services.
                example: Internal server error.
                title: Internal server error
                type: string
          description: ""
      summary: Get the timeseries containing the data from a grid cell for a request
        period
      tags:
      - timeseries
  /qualifiers:
    get:
      description: Get all configured qualifiers from the region config and optionally
        show all its attributes.
      operationId: qualifiers
      parameters:
      - description: Show attributes
        explode: true
        in: query
        name: showAttributes
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: "Supported Document Format: PI_XML, "
        explode: true
        in: query
        name: documentFormat
        required: false
        schema:
          enum:
          - PI_XML
          type: string
        style: form
      - description: "Document Version. Latest version is: 1.33"
        explode: true
        in: query
        name: documentVersion
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/xml:
              schema:
                description: http://www.wldelft.nl/fews/PI https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_qualifiers.xsd
                example: |-
                  <?xml version="1.0" encoding="UTF-8"?>
                  <qualifiers xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.wldelft.nl/fews/PI" xsi:schemaLocation="http://www.wldelft.nl/fews/PI https://fewsdocs.deltares.nl/schemas/version1.0/pi-schemas/pi_qualifiers.xsd" version="1.24">
                      <qualifier id="1">
                          <name>Alisma plantago-aquatica</name>
                          <attribute id="ExternalQualifierId" name="ExternalQualifierId">
                              <text>PAR_REF_Alisma plantago-aquatica</text>
                          </attribute>
                          <attribute id="Qualifier_TAXA" name="Qualifier_TAXA">
                              <description>Taxon naam</description>
                              <text>Alisma plantago-aquatica</text>
                          </attribute>
                          <attribute id="Type" name="Type">
                              <description>type</description>
                              <text>aquaticaType</text>
                          </attribute>
                          <attribute id="Groep" name="Groep">
                              <description>Familie</description>
                              <text>aquaticaGroup</text>
                          </attribute>
                      </qualifier>
                      <qualifier id="2">
                          <name>Butomus umbellatus</name>
                          <attribute id="ExternalQualifierId" name="ExternalQualifierId">
                              <text>PAR_REF_Butomus umbellatus</text>
                          </attribute>
                          <attribute id="Qualifier_TAXA" name="Qualifier_TAXA">
                              <description>Taxon naam</description>
                              <text>Butomus umbellatus</text>
                          </attribute>
                          <attribute id="Type" name="Type">
                              <description>type</description>
                              <text>umbellatusype</text>
                          </attribute>
                          <attribute id="Groep" name="Groep">
                              <description>Familie</description>
                              <text>umbellatusGroup</text>
                          </attribute>
                      </qualifier>
                  </qualifiers>
                title: PI_XML
                type: object
                xml:
                  name: qualifiers
          description: ""
        "400":
          content:
            plain/text:
              schema:
                description: Bad request for query parameters can occur when an unexpected
                  parameter is used
                example: Invalid request. An unexpected parameter was used in the
                  request.
                title: Invalid request
                type: string
          description: ""
        "401":
          content:
            plain/text:
              schema:
                description: JWT Id token is missing or invalid
                example: No JWT token provided.
                title: Authorization error
                type: string
          description: ""
        "403":
          content:
            plain/text:
              schema:
                description: Forbidden to access the requested resource
                example: Forbidden to access the requested method.
                title: Forbidden error
                type: string
          description: ""
        "500":
          content:
            plain/text:
              schema:
[...]
